{{ define "main" }}
<article>
  {{ range first 1 (where (where .Site.Pages.ByDate.Reverse "Type" "post")  "Params.featured" true) }}
    {{- partial "components/post-featured.html" . -}}
  {{ end }}

  <div class="flex flex-col-reverse md:flex-col">
  {{- partial "components/nav/onpage.html" . -}}
  <div class="container px-4 mb-12 md:mb-24">



    {{- partial "components/page-intro.html" . -}}

    <div class="md:flex md:flex-wrap md:-mx-2 lg:-mx-4 mb-12 md:mb-0">
        {{ $paginator := .Paginate (where (where .Data.Pages.ByDate.Reverse "Type" "post") "Params.featured" "!=" true  ) 6 }}
        {{ range $paginator.Pages }}
        <div class="md:w-1/2 md:px-2 lg:px-4  mb-6 lg:mb-8">
          <div class="flex flex-col items-start bg-white font-medium min-h-full shadow no-underline py-6 lg:py-12 px-6 lg:px-8 xl:px-10 rounded-lg text-grey-dark">
            <div class="flex-1">
            {{ $taxo := "categories" }}
            {{ range .Param $taxo }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
              <a class="block  text-grey-dark no-underline lg:text-lg mb-4 lg:mb-6" href="{{ .Permalink }}">{{ $name }}</a>
            {{ end }}
            {{ end }}
            {{ with .Params.title }}
            <span class="block font-medium text-lg xxl:text-2xl block mb-2">{{ . | markdownify }}</span>
            {{ end }}
            {{ with .Params.excerpt }}
              <span class="block lg:text-lg mb-4 lg:mb-8">{{ . }}</span>
            {{ else }}
              <span  class="block lg:text-lg mb-4 lg:mb-8 user-content">{{.Summary | markdownify }}</span>
            {{ end }}
            </div>
            <a href="{{.Permalink}}" class="button">Lees verder</a>
          </div>
        </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</div>




</article>
{{ end }}