<div class="bg-white px-4 py-4">
  <div class="flex flex-row text-green items-center mb-2">
    <div class="w-8 lg:w-10">
      <i class="{{.icon}} text-xl lg:text-2xl relative" style="bottom: -3px;"></i>
    </div>
    <h2 class="font-medium text-xl lg:text-2xl">{{.title}}</h2>
  </div>
  {{ with .items }}
  <ul class="list-reset border-t-1 border-grey-lighter">
    {{ range .}}
    <li>
      <a class="text-grey no-underline py-4 flex justify-between items-center border-b-1 border-grey-ligher" href="{{.link}}">
        <span class="xl:text-lg">{{.title}}</span>
        <i class="fal fa-angle-right text-2xl"></i>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>