@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


/* Buttons */

a {
  @apply text-blue;
}

p a:hover {
  @apply underline;
}

.button-outline {
  @apply border-blue border-2 text-blue no-underline font-medium rounded-full py-4 px-8 inline-flex items-center leading-none;
}

.button-outline:hover {
  @apply bg-blue text-white no-underline;
}

.button-outline-secondary {
  @apply bg-bronze border-bronze text-white;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button-outline-secondary:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.button {
  @apply bg-blue text-white no-underline rounded-full py-5 px-8 inline-flex items-center leading-none text-lg font-medium;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button::after {
  content: "\02192";
  @apply ml-2;
}

.button-small {
  @apply py-2 px-4;
}

.button-secondary {
  @apply bg-bronze;
}

.button:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  @apply no-underline;
}

.button-icon {
  @apply bg-blue text-white no-underline rounded-full py-3 px-8 inline-flex items-center leading-none;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button-icon:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}


.has-dropdown {
  position: relative;
}

.hidden-forced {
  display: none !important;
}

@screen lg {

.active.has-dropdown::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  top: 65px;
  left: 50%;
  margin-left: -25px;
  @apply z-30;
}

.active.has-dropdown::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  top: 65px;
  left: 50%;
  margin-left: -25px;
  @apply shadow;
}

}

.user-content p, .user-content ul, .user-content ol {
  @apply mb-6 text-grey-medium;
}

.user-content p:empty {
  display: none !Important;
}

.user-content {
  @apply text-grey-medium;
}

.user-content h1, .user-content h2, .user-content h3, .user-content h4, .user-content h5 {
  @apply text-grey-dark;
}

.user-content ul {
  @apply list-inside list-disc;
}

.user-content li {
  @apply mb-2;
}

.user-content h2 {
  @apply text-3xl font-medium mb-2 leading-tight;
}

@screen lg {
  .user-content h2 {
    @apply text-4xl;
  }
}

.user-content h3 {
  @apply text-lg font-medium mb-2 leading-tight;
}

@screen lg {
  .user-content h3 {
    @apply text-2xl;
  }
}

p .button + .button {
  @apply mt-2;
}

/* Pagination */

.pagination {
  @apply flex justify-center mt-6;
}

.pagination li {
  @apply mx-2;
}

.pagination .active a {
  @apply bg-grey-dark text-white cursor-default;
}

.pagination a {
  @apply text-grey-dark no-underline flex w-10 h-10 bg-grey-lightest rounded-lg justify-center items-center;
}

.pagination li:first-child {
  @apply hidden;
}

.pagination li:last-child {
  @apply hidden;
}

.layout-split {
  @apply flex -mx-2;
}

.layout-split > div {
  @apply w-1/2 px-2;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* #chat-application {
  bottom: -100px !important;
}

.chat-open #chat-application {
  bottom: 0px !important;
} */

@responsive {
  .flex-forced {
    display: flex !important;
  }
}


/* .is-dropdown.active-dropdown::before {
  content: "";
  position: fixed;
  background: red;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
} */
