/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.btn {
  @apply shadow bg-blue no-underline text-center inline-block shadow rounded text-white px-6 py-3;
  transition: all .15s ease;
}

.btn-block {
  @apply block;
}

.btn:hover {
  @apply shadow-lg;
  transform: translateY(-1px);
}

.btn-light {
  @apply bg-white text-green font-medium;
}

.logo {
  display: block;
}

button:focus {outline:0;}

.button {
  @apply bg-blue text-white no-underline rounded-full py-5 px-8 inline-flex items-center leading-none;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.button-icon {
  @apply bg-blue text-white no-underline rounded-full py-3 px-8 inline-flex items-center leading-none;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}
.button-icon:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.button-outline {
  @apply border-blue border-2 text-blue no-underline font-medium rounded-full py-4 px-8 inline-flex items-center leading-none;
}


strong {
  font-weight: 500;
}

.has-dropdown {
  position: relative;
}

.active.has-dropdown::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  top: 65px;
  left: 50%;
  margin-left: -25px;
  @apply z-30;
}

.active.has-dropdown::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  top: 65px;
  left: 50%;
  margin-left: -25px;
  @apply shadow;
}

.user-content p {
  @apply mb-6;
}

/* pagination */

.pagination {
  @apply list-reset flex justify-center mt-6;
}

.pagination li {
  @apply mx-2;
}

.pagination .active a {
  @apply bg-grey-dark text-white cursor-default;
}

.pagination a {
  @apply text-grey-dark no-underline flex w-10 h-10 bg-grey-lightest rounded-lg justify-center items-center;
}

.pagination li:first-child {
  @apply hidden;
}

.pagination li:last-child {
  @apply hidden;
}

.layout-split {
  @apply flex -mx-2;
}

.layout-split > div {
  @apply w-1/2 px-2;
}