{{ define "main" }}
<article class="mb-8 md:mb-24 smooth-scroll">
  <div id="page" class="pt-12">
    {{- partial "components/content-blocks.html" . -}}
    {{- partial "components/usps.html" . -}}
    {{- partial "components/kiezen.html" . -}}
    {{- partial "components/aanbod.html" . -}}
    {{- partial "components/logos.html" . -}}
    {{- partial "components/page-inline-intro.html" . -}}
    {{- partial "components/user-content.html" . -}}
    {{- partial "components/prijzen.html" . -}}
  </div>

</article>
{{ end }}