{{ define "main" }}
<article class="mb-8 md:mb-24">
  <div class="container px-4 pt-12  {{ if not .Params.hero.image}} {{ end }}">
    <div class="max-w-2xl mx-auto">
      <div class="hidden lg:block   lg:rounded-lg bg-grey-lightest   ">

        <table class="w-full">
          <colgroup>
            <col class="w-2/5">
            <col class="w-1/5">
            <col class="w-1/5 ">
            <col class="w-1/5">
          </colgroup>
          <tbody>
            <tr>
              <td class=" border-grey-light bg-blue-dark rounded-tl-lg">
                &nbsp;
              </td>
              <td class="border-l border-grey-light bg-blue-dark">
                <div class="px-5 py-6">
                  <h2 class="font-semibold text-white text-center text-lg leading-tight">Doorverbinden naar mobiel
                  </h2>
                </div>
              </td>
              <td class="border-l border-grey-light bg-blue-dark">
                <div class="px-5 py-6">
                  <h2 class="font-semibold text-white text-center text-lg leading-tight">Qaller Plus App</h2>
                </div>
              </td>
              <td class="border-l border-grey-light bg-blue-dark rounded-tr-lg">
                <div class="px-5 py-6">
                  <h2 class="font-semibold text-white text-center text-lg leading-tight">Vamos Vast-Mobiel SIM
                  </h2>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="4"
                class="border-t border-grey-light bg-blue px-5 py-3 uppercase tracking-wide text-xs font-semibold text-white text-left">
                Algemeen
              </td>
            </tr>
            <tr>
              <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5">Omschrijving
                controleren
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">Schakel door naar mobiel met de doorverbind-app van Simmpl 
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">met Qaller Plus app wordt uw mobiel een kantoortoestel. Bellen en gebeld worden met vast nummer
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                met Vamos komt
                uw mobiele
                nummer op de
                Simmpl centrale
                geen apps nodig,
                altijd alle keuze
              </td>
            </tr>
            <tr>
              <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5">Kosten éénmalig (ex BTW) </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5">Kosten per maand (ex BTW) </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
              <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                <svg aria-hidden="true" data-prefix="fas" data-icon="check-circle"
                  class="svg-inline--fa fa-check-circle fa-w-16 w-6 mx-auto fill-current text-indigo-500"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
              </td>
            </tr>
         
          
      


          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
{{ end }}