{{ define "main" }}
<div>
        <form class="mb-6" name="gratis-uitproberen" action="/bedank/uitproberen" accept-charset="UTF-8" method="POST"
        netlify-honeypot="bot-field" data-netlify="true">
        <p class="hidden"><label>Don’t fill this out if human: <input name="bot-field"></label></p>
        <p><input type="hidden" id="formlayout" name="formlayout" value="d-5f1602c68c8a42919ddf340e285386e3" class="hidden"></p>
        <p><input type="hidden" id="formto" name="formto" value="aanvraag" class="hidden"></p>
        <div class="layout-split">
            <div class="mb-4">
                <label for="naam" class="block">Voor- en achternaam</label> 
                <input type="text" id="naam" name="naam" class="w-full border border-grey-light bg-white px-3 py-2 text-base"> 
            </div>
            <div class="mb-4">
                <label for="email" class="block">Email <span class="text-red">*</span></label> 
                <input type="email" id="email" name="email"  class="w-full border border-grey-light bg-white px-3 py-2 text-base" required>
            </div>
        </div>
        <p><button type="submit" class="button button-secondary">Aan de slag</button></p>
    </form>
</div>

{{ end }}