{{$tab := .tab }}

<a href="{{ .link }}" {{ if $tab }} target="_blank" {{ end}} {{ with .id}} id="{{.}}" {{ end}} class="block lg:flex bg-white items-center font-medium shadow no-underline py-6 sm:py-8 px-4 sm:px-8  rounded-lg text-grey-dark mb-6 lg:mb-8">
  <span class="hidden lg:block w-20 "><i class="fal fa-3x {{ .icon }} text-blue"></i></span>
  <div class="flex-1">
    <span class="font-medium text-lg xxl:text-2xl block mb-2">{{ .title }}</span>
    <span class="opacity-75 lg:text-lg">{{ .content }}</span>
  </div>
  <span class="hidden xl:block ml-6"><i class="fal fa-3x fa-angle-right text-blue"></i></span>
</a>