{{ with .Params.blocks }}
<div class="container px-4">
  {{ range . }}
  <div class="flex flex-col-reverse md:flex-row items-center {{ if eq .position "image_left"}} md:flex-row-reverse {{ end }} md:-mx-8 user-content mb-8 md:mb-24">
    <div class="md:w-1/2 md:px-8">
      {{ $title := .title }}
      {{ with $title }}
      <h2 class="text-3xl lg:text-4xl font-medium mb-2 xxl:mb-6 leading-tight">{{ . }}</h2>
      {{ end }}
      {{ with .content }}
      <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose">
        {{ . | markdownify }}
      </div>
      {{ end }}
    </div>
    <div class="md:w-1/2 md:px-8 mb-6">
      {{ with .image}}
        <img src="{{ $.Site.Params.cloudinary_base_url }}/c_scale,f_auto,q_auto/{{.}}"
          class="cld-responsive" alt="{{ $title }}" />
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}