<header class="relative z-50">
  <div class="container lg:relative px-4">
    <div class="pt-2 flex justify-start md:justify-end mb-2 md:mb-0">
      {{ partial "components/nav/top" (dict "menu" .Site.Menus.top "page" . "site" .Site) }}
    </div>
    <div class="flex justify-between items-center pt-3 pb-2 md:pb-6">
      <div class="flex flex-1 items-center justify-between">
        <a href="/" class="logo -mt-2 md:-mt-4" title="Homepage {{ $.Site.Title}}">
          <img class="w-40 md:w-48" src="/images/callvoip-logo.svg" alt="{{ $.Site.Title}}">
        </a>
        <div class="hidden lg:block font-medium">
          {{ partial "components/nav/base" (dict "menu" .Site.Menus.main "page" . "site" .Site) }}
        </div>
        <div class="flex items-center">
          <p class=""> <a href="tel:+31508200000"
              class="text-grey-dark no-underline text-lg font-medium flex items-center justify-center "><i
                class="fal fa-phone sm:mr-2 fa-flip-horizontal relative"
                style="font-size: 1.6rem; top: .2rem; transform: rotate(97deg); "></i>
              <span class="hidden xl:block">050 – 820 00 00</span></a></p>
          <div class="hidden lg:block">
            <a href="/uitproberen" class="button-outline button-outline-secondary ml-6 text-lg">Gratis uitproberen</a>
          </div>
          <button class="block lg:hidden ml-4 bg-grey-dark-10 p-2 px-3 rounded-lg" id="menuToggle">
            <i class="fal text-xl fa-bars text-grey-dark"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="block lg:hidden">
      {{- partial "components/nav/mobile.html" . -}}
    </div>
  </div>
</header>