<div class="bg-blue pt-12 md:pt-32 pb-12 md:pb-24">
  <div class="container px-4 text-center">

    <h4 class="text-3xl lg:text-3xl font-medium mb-8 leading-tight  text-white ">Waarmee kunnen we je helpen?</h4>

    <form action="">
      <div class="mb-4 max-w-lg mx-auto relative">
        <input type="text" id="pagesearch" name="pagesearch" placeholder="Type hier je vraag..."
          class="w-full border border-grey-light bg-white rounded-lg px-4 py-4">
        <button type="button" class="absolute inset-y-0 right-0 mr-2 flex items-center px-2 text-gray-700">
          <i class="fal fa-search"></i>
        </button>
      </div>
    </form>


  </div>
</div>
<div class="container px-4 pt-12">
  <div class="flex flex-wrap flex-row sm:-mx-4 xl:-mx-8">

    {{ range $name, $taxonomy := .Site.Taxonomies.onderdelen }}
    <div class="w-full sm:w-1/2 lg:w-1/3 px-4 xl:px-8 mb-8">
      <h4 class="text-lg lg:text-2xl font-medium mb-4"><a
          href="/ondersteuning/{{ $name | urlize }}">{{ $name | humanize }}</a> <span
          class="opacity-50 text-lg">({{ $taxonomy.Count }})</span></h4>
      <ul>
        {{ range $name := sort $taxonomy "Weight" | first 3 }}
        <li>
          <a href="{{ .Permalink }}"
            class="font-medium opacity-75 leading-large lg:text-lg border-b border-grey-lightest block pb-2 mb-2">
            <i class="fal fa-file mr-2"></i>
            {{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

  </div>
</div>