{{ if .Params.logos }}
{{ with .Site.Data.general.clients }}
<div class="bg-blue py-32">
  <div class="container px-4 text-white text-center">
    {{ with .title }}
    <h4 class="text-3xl lg:text-3xl font-medium mb-8 md:mb-12 leading-tight">{{ . }}</h4>
    {{ end }}
    <div class="flex items-center justify-center ">
      {{ range .items }}
      {{ with .image }}
      <div>
        <img data-src="{{ $.Site.Params.cloudinary_base_url }}/w_auto,dpr_auto/{{.}}"
          class="max-h-logo cld-responsive mx-6 block max-w-full  object-contain" alt="Client" />
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}