{{ with .Params.hero }}
{{ $imagePosition := .image_position}}
{{ $title := .Title }}
{{ $disableImageOnMobile := .hero.disable_image_on_mobile }}


<div class="bg-grey-lightest clearfix mb-20">
  <header class="container px-4 clearfix">
    <div class="flex flex-col-reverse md:flex-row md:-mx-2  md:items-center pt-6 sm:pt-8 md:pt-12 md:pt-24 mb-12">
      <div class="mb-6 md:mb-12 md:w-1/2 md:px-2">
        {{ with .title }}
        <h1 class="text-3xl lg:text-4xl xxl:text-5xl font-medium leading-tight mb-4 md:mb-6">{{ . }}</h1>
        {{ end }}
        {{ with .content }}
        <div class="font-medium lg:text-lg xxl:text-xl max-w-md opacity-75 mb-4 md:mb-8 lg:leading-loose">{{ . | markdownify }}</div>
        {{ end }}
        {{ with .button }}
        <a href="{{ .link }}" class="button md:text-lg">{{ .content }}</a>
        {{ end }}
      </div>
      {{ with .image }}
      <div class="md:w-1/2 md:px-2 mb-12 {{ if $imagePosition }} {{ if $disableImageOnMobile }} hidden md:flex justify-{{$imagePosition}} {{ end }}   {{ end }} {{ if $disableImageOnMobile }} hidden md:block {{ end }}">
        <img src="{{ $.Site.Params.cloudinary_base_url }}/c_scale,f_auto,q_auto/{{.}}"
          class="cld-responsive" alt="{{ $title }}" />
      </div>
      {{ end }}
    </div>
  </header>
</div>
{{ end }}