<header class="h-64 md:h-96 bg-grey-lightest relative">
  {{ with .Params.hero.image}}
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
  {{ with $imageResource }}
  {{ $src1x := (.Fill "1920x550 Center") }}
  {{ $src2x := (.Fill "3840x1100 Center") }}
  <picture class="h-full">
    <img src="{{ $src1x.RelPermalink }}" srcset="{{ $src1x.RelPermalink }} 1x, {{ $src2x.RelPermalink }} 2x" class="h-full w-full"
      style="object-fit: cover;" />
  </picture>
  {{ end }}
  {{ end }}
  <div class="absolute pin-t w-full h-full">
    <div class="bg-white-25 h-full">
      <div class="container px-4 h-full  flex flex-col justify-center">
        <div class="max-w-md">
          <p class="opacity-75 text-xl font-medium mb-4">Uitgelicht</p>
          <h3 class="text-3xl lg:text-4xl font-medium mb-6 leading-tight">{{ .Title }}</h3>
          <a href="{{.URL}}" class="button">Lees verder</a>
        </div>
      </div>
    </div>
  </div>
</header>