<header class="h-64 md:h-96 bg-grey-lightest relative">
  {{ with .Params.hero.image}}

  <picture class="h-full">
    <img class="h-full w-full"
      style="object-fit: cover;" />
  </picture>

  {{ end }}
  <div class="absolute pin-t w-full h-full">
    <div class="bg-white-25 h-full">
      <div class="container px-4 h-full  flex flex-col justify-center">
        <div class="max-w-md">
          <p class="opacity-75 text-xl font-medium mb-4">Uitgelicht</p>
          <h3 class="text-3xl lg:text-4xl font-medium mb-6 leading-tight">{{ .Title }}</h3>
          <a href="{{.URL}}" class="button">Lees verder</a>
        </div>
      </div>
    </div>
  </div>
</header>