{{ with .Params.textblocks }}
{{ range $index, $item := . }}
<div class="{{if (modBool $index 2)}} bg-grey-lightest {{ end }} py-12 lg:pt-20  lg:pb-12">
    <div class="container px-4">
        <div class="flex flex-col-reverse md:flex-row items-center  md:-mx-8 mb-8 ">
            <div class="md:w-1/2 md:px-8">
                {{ with .title1 }}
                <h2 class="text-3xl  font-medium mb-2 xxl:mb-6 leading-tight">{{ . }}</h2>
                {{ end }}
                {{ with .content1 }}
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
            <div class="md:w-1/2 md:px-8 mb-6">
                {{ with .title2 }}
                <h2 class="text-3xl  font-medium mb-2 xxl:mb-6 leading-tight">{{ . }}</h2>
                {{ end }}
                {{ with .content2 }}
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}