{{ with .Params.textblocks }}

{{ range $index, $item := . }}
{{ $title := .top_title }}
{{ $content := .top_content }}
<div
    class="{{if (modBool $index 2)}} bg-grey-lightest {{ end }} py-12 lg:pt-20  {{ if .show_vshape}} lg:pb-0 {{ else }} lg:pb-12  {{ end }}">
    <div class="container px-4">
        {{ if $title }}
        <div class="text-center pb-8 md:pb-12 mb-12  ">
            {{ with $title }}
            <h1 class="text-3xl lg:text-1xl font-medium mb-4 leading-tight">{{ . }}</h1>
            {{ end }}
            {{ with $content }}
            <div class="mx-auto max-w-xl lg:text-lg xl:text-xl font-medium text-grey-medium">{{ . | markdownify }}</div>
            {{ end }}
        </div>
        {{ end }}
        <div class="flex flex-col-reverse md:flex-row items-start  md:-mx-8  ">
            <div class="md:w-1/2 md:px-8">
                {{ with .title1 }}
                <h2 class="text-3xl  font-medium mb-2 xxl:mb-6 leading-tight">{{ . }}</h2>
                {{ end }}
                {{ with .content1 }}
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
            <div class="md:w-1/2 md:px-8 mb-6">
                {{ with .title2 }}
                <h2 class="text-3xl  font-medium mb-2 xxl:mb-6 leading-tight">{{ . }}</h2>
                {{ end }}
                {{ with .content2 }}
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ if .show_vshape}}
<div class="bg-white  flex justify-center overflow-hidden">
    <div class="triangle-down"></div>
</div>
{{ end }}
{{ end }}
{{ end }}
